{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Add new asset</h1>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                </div>
                <div class="card-body">
                    <form action="" method="post" autocomplete="off" class="row g-3">
                        {% csrf_token %}
                        <label for="{{ form.subject.id_for_label }}">Product:</label>
                        {{ form.producto}}
                        <div class="col-md-6">
                            <label for="{{ form.subject.id_for_label }}">Status:</label>
                            {{form.estdo}}
                        </div>
                        <div class="col-md-6">
                            <label for="{{ form.subject.id_for_label }}">Code:</label>
                            {{ form.codigo}}
                        </div>
                        <div class="col-md-6">
                            <label for="{{ form.subject.id_for_label }}">Place Stored:</label>
                            {{ form.donde}}
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-2">
                                <a href="{% url 'assets' %}" class="btn btn-outline-secondary btn-block btn-lg">
                                    <i class="fas fa-stream"></i> Cancel
                                </a>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-success btn-block btn-lg"> Submit </button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}
