{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="modal fade" tabindex="-1" role="dialog" id="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content"></div>
            </div>
        </div>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Add new contract</h1>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                </div>
                <div class="card-body">
                    <form enctype="multipart/form-data" action="" method="post" autocomplete="off" class="row g-3">
                        {% csrf_token %}
                        <label for="{{ form.subject.id_for_label }}">Name</label>
                        {{form.name}}
                        <div class="col-md-6">
                            <label for="{{ form.subject.id_for_label }}">Contractor:</label>
                            <div class="input-group input-group-sm mb-3">
                                {{form.contractor}}
                                <button id="new-vendor" class="btn btn-outline-secondary" type="button">+</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="{{ form.subject.id_for_label }}">Contractee:</label>
                            {{form.contractee}}
                        </div>
                        <div class="col-md-6">
                            <label for="{{ form.subject.id_for_label }}">Start:</label>
                            {{form.start}}
                        </div>
                        <div class="col-md-6">
                            <label for="{{ form.subject.id_for_label }}">End:</label>
                            {{form.end}}
                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-2">
                            <label for="{{ form.subject.id_for_label }}">Cost:</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text">$</span>
                                {{form.cost}}
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="{{ form.subject.id_for_label }}">Currency:</label>
                            {{form.currency}}
                        </div>
                        <div class="col-md-4">
                            <label for="{{ form.subject.id_for_label }}">Type:</label>
                            {{form.type}}
                        </div>
                        <label for="{{ form.subject.id_for_label }}">Description:</label>
                        {{form.description}}
                        <label for="{{ form.subject.id_for_label }}">Product:</label>
                        <div class="input-group mb-3">
                            {{form.product}}
                            <button id="new-asset" class="btn btn-outline-secondary" type="button">+</button>
                        </div>
                       <div class="col-12">
                            <span>File attachment: </span>
                            {{form.attached_file}}
                       </div>
                       <div class="col-12">
                            <label for="{{ form.subject.id_for_label }}">Notification:</label>
                            {{form.notification}}
                       </div>

                            <div class="row">
                                <div class="col-md-8">
                                </div>
                                <div class="col-md-2">
                                    <a href="{% url 'contracts' %}" class="btn btn-outline-secondary btn-block btn-lg">
                                        <i class="fas fa-stream"></i> Cancel
                                    </a>
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-success btn-block btn-lg"> Submit </button>
                                </div>
                            </div>

                    </form>

                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $("#new-vendor").modalForm({
            formURL: "{% url 'new_vendor' %}",
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#new-asset").modalForm({
            formURL: "{% url 'new_asset' %}",
        });
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('#contractor_view').select2({
            minimumInputLength: 2
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#product_view').select2({
            minimumInputLength: 2
        });
    });
</script>


{% endblock js %}

