{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="layoutSidenav_content">
    <div class="container-fluid px-4">
        <h1 class="mt-4">{{ cont.name }}</h1>
        <div class="card mb-4">
            <p class="card-text">
                <ul>

                    <li>Contractor: {{ cont.contractor }}</li>
                    <li>Contractee: {{ cont.contractee }}</li>
                    <li>Start: {{ cont.start }}</li>
                    <li>End: {{ cont.end }}</li>
                    <li>Cost: {{ cont.cost }}</li>
                    <li>Currency: {{ cont.currency }}</li>
                    <li>Type: {{ cont.type }}</li>
                    <li>Description: {{ cont.description }}</li>
                    <li>Product: {{ cont.product }}</li>
                    {% if cont.attached_file %}
                    <a href="{{cont.attached_file.url}}"> Download file</a>
                    {% endif %}

                </ul>
                <br>





            </p>
        </div>
    </div>
</div>


    {% endblock %}
