{% load static %}
<form method="POST" action="">
    {% csrf_token %}

    <div class="modal-header">
        <h5 class="modal-title">Add new Vendor</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <label for="{{ form.subject.id_for_label }}">Contractor:</label>
        {{form.contractee_vendor}}
        <label for="{{ form.subject.id_for_label }}">Company:</label>
        {{form.company}}
        <label for="{{ form.subject.id_for_label }}">Description:</label>
        {{form.description}}
        <label for="{{ form.subject.id_for_label }}">Phone Number:</label>
        {{form.phone_number}}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create</button>
    </div>

</form>